---
import Container from '../common/Container.astro';

const currentYear = new Date().getFullYear();
---

<div class="bg-white text-center text-slate-500 py-10">
  <Container>Copyright © {currentYear} Bartosz Krawczyk</Container>
</div>
