---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/layout/Nav.astro';
import Footer from '../components/layout/Footer.astro';
import Intro from '../components/home/Intro.astro';
import Resume from '../components/home/Resume.astro';
import Contact from '../components/home/Contact.astro';
---

<Layout title="Bartosz Krawczyk - front-end developer">
  <Nav />
  <main>
    <Intro />
    <Resume />
    <Contact />
  </main>
  <Footer />
</Layout>
