---
import { getCollection } from 'astro:content';
import Container from '../common/Container.astro';
import SectionHeader from '../common/SectionHeader.astro';
import TimelineWrapper from '../common/TimelineWrapper.astro';
import TimelineItem from '../common/TimelineItem.astro';

const entries = await getCollection('resume');
const sorted = entries.sort((a, b) => a.data.order - b.data.order);
---

<section id="resume" class="pt-12">
  <div class="bg-white">
    <Container>
      <SectionHeader>Resume</SectionHeader>
      <TimelineWrapper>
        {sorted.map((entry) => <TimelineItem entry={entry} />)}
      </TimelineWrapper>
    </Container>
  </div>
</section>
